apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: backend-tests-go-jzbvfqxh
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhtap_qe/backend-tests-go-jzbvfqxh:07a0043c9e0ebaa9d3e08b11afa16e197129aff5@sha256:5de2a13d77fffecbb0b7fa8fe935fabe440f99dcd093e103433dbf64defc421b
          name: container-image
